div.table_display {
    padding: 25px;
    background-color: #EDE8F5;
    min-height: 600px;
    border-radius : 10px;
}
#table_header th {
    color : red;
}
#search_bar {
    border-radius : 10px;
    margin-left: 50px;
    margin-bottom : 15px;
    height : 35px;
}
