
div.display_number_info {
    background-color: #EDE8F5;
    display: inline-block;
    width: 35%;
    height: 250px;
    border-radius: 10px;
    margin-left: 70px;
    vertical-align: top;
}
#button_deleteall {
    background-color: red;
    color: #EDE8F5;
    border : 2px red solid;
    border-radius: 10px;
    font-size : 16px;
    font-weight : 500;
    transition : background-color 0.3s;
    padding-top : 3px;
    padding-bottom : 3px;
    
}
#button_deleteall:hover {
    background-color: darkred;
    border-color : darkred;
    color: #EDE8F5;
}
div.nav_bar {
    border-radius: 10px;
    width: 40%;
    display: inline-block;
    height: 150px;
    margin-top: 10px;
    margin-left: 120px;
    background-color: #EDE8F5;
}

#button_delete_register_all {
    background-color: red;
    border: 1px solid red;
    color: #EDE8F5;
    box-shadow: none;
    font-weight: 500;
    padding: 3px;
    transition: background-color 0.2s;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
}
#button_delete_register_all:hover {
    background-color : darkred;
    border-color : darkred;
    color : white;
}
#mainmeal_db, #sidemeal_db, #basicmeal_db {
    background-color: #EDE8F5;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
}
#mainmeal_db {
    display : block;
}
form.form_page {
    display : inline-block;
}
input.page_num {
    border: none;
    background-color: #EDE8F5;
}
input.page_num:hover {
    color : red;
}
div.nav_bar_list_2 ul, div.nav_bar_list ul {
    list-style-type : none;
    margin-top : 20px;
}
div.nav_bar_list_2 ul {
    margin-left : 40px;
}
div.nav_bar_list ul li {
    display : inline-block;
    margin-left : 30px;
}
div.nav_bar_list_2 ul li {
    display : inline-block;
    margin-left : 20px;
}
div.mainmeal_db h5 {
    color : red;
    margin-bottom : 10px;
}

