div.side_1 {
    display : inline-block;
}
div.side_2 {
    display : inline-block;
    margin-left : 50px;
}
div.info_table {
    border: 3px solid rgb(8, 158, 204);
    padding: 50px;
    background-color: white;
    border-radius : 20px;
}
div.id p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.fullname p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.country p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.email p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.phone p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.address p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.city p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.birthdate p {
    border: 1px rgb(8, 158, 204) solid;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
div.id h6 {
    color: rgb(101, 102, 244);
}
div.fullname h6 {
    color: rgb(101, 102, 244);
}
div.country h6 {
    color: rgb(101, 102, 244);
}
div.city h6 {
    color: rgb(101, 102, 244);
}
div.phone h6 {
    color: rgb(101, 102, 244);
}
div.birthdate h6 {
    color: rgb(101, 102, 244);
}
div.address h6 {
    color: rgb(101, 102, 244);
}
div.email h6 {
    color: rgb(101, 102, 244);
}

