div.info_table {
    padding: 40px;
    background-color: #8697C4;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
div.side_1 {
    width : 35%;
}
div.side_2 {
    width: 35%;
}
div.fullname label {
    color: #3D52A0;
    font-size: 18px;
    font-weight: 500;
}
div.phone label {
    color: #3D52A0;
    font-size: 18px;
    font-weight: 500;
}
div.address label {
    color: #3D52A0;
    font-size: 18px;
    font-weight: 500;
}
div.country label {
    color: #3D52A0;
    font-size: 18px;
    font-weight: 500;
}
div.city label {
    color: #3D52A0;
    font-size: 18px;
    font-weight: 500;
}
div.birthdate label {
    color: #3D52A0;
    font-size: 18px;
    font-weight: 500;
}
div.button_submit input {
    background-color: #EDE8F5;
    border-color: #EDE8F5;
    color: #3D52A0;
}
div.button_submit input:hover {
    background-color: #3D52A0;
    color : #EDE8F5;
}