
div.display_data {
    background-color: #8697C4;
    margin-top: 50px;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif !important;
    box-shadow: 1px 1px rgb(175, 175, 175, 0.25);
}
div.register_meal {
    padding: 20px;
    background-color: #3D52A0;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif !important;
    box-shadow: 1px 1px rgb(175, 175, 175, 0.25);
}
div.register_meal h5 {
    margin-bottom: 15px;
    font-weight: 700;
    color : #EDE8F5;
    font-weight : 700;
}
div.register_meal p {
    color : #EDE8F5;
    font-weight : 600;
}
#submit_button {
    background-color: #EDE8F5;
    border-color: #EDE8F5;
    color: #3D52A0;
}
#submit_button:hover {
    background-color: #3D52A0;
    color : #EDE8F5;
}
#table_day th {
    color: #EDE8F5;
}
tr.table_meal td {
    color: white;
    font-weight : 600;
}
