div.register_form {
    width : 70%;
    border: 1px solid black;
    padding : 50px;
    margin-left : 200px;
    margin-top : 50px;
    background-color: white;
}
div.register_form h5 {
    margin-left: 350px;
    color : rgb(44, 169, 97, 0.84);
    font-weight: 700;
}
#registerSubmit {
    background-color: rgb(44, 169, 97, 0.84);
    border-color: rgb(44, 169, 97, 0.84);
}
#registerSubmit:hover {
    background-color: darkgreen;
}


