html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif !important;
}
body {
    margin-bottom: 60px;
    background-color: #F9F9F9;
}
nav.navbar {
    background-color: white !important;
}
footer {
    background-color: white !important;
}
#ul_nav_bar li a {
    color: black;
    background-color: white;
}
#ul_nav_bar li a:hover {
    background-color: rgb(44, 169, 97, 0.84);
    color: white;
}
#dropdown_1, #dropdown_2 {
    background-color: white;
    padding-top : 10px;
    padding-bottom: 10px;
    border: none;
    margin : 0 !important;
}
#dropdown_1:hover,#dropdown_2:hover {
    background-color: rgb(44, 169, 97, 0.84);
    color: white;
}
#dropdown_a_1, #dropdown_a_2 , #dropdown_a_3 , #dropdown_a_4{
    background-color: white;
    color: black;
}

#dropdown_a_1:hover, #dropdown_a_2:hover, #dropdown_a_3:hover, #dropdown_a_4:hover{
    background-color : rgb(44, 169, 97, 0.84);
    color: white;
}