html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif !important;
}
body {
    margin-bottom: 60px;
    background-image: url(/Image/background_purple.jpg);
}
nav.navbar {
    background-color: #3D52A0 !important;
}
footer {
    background-color: #3D52A0 !important;
}
#ul_nav_bar li a {
    color: black;
    background-color: white;
}
#ul_nav_bar li a:hover {
    background-color: rgb(44, 169, 97, 0.84);
    color: white;
}
#dropdown_1, #dropdown_2 {
    background-color: #3D52A0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 0 !important;
    color: #EDE8F5;
}
#dropdown_1:hover,#dropdown_2:hover {
    background-color: #EDE8F5;
    color: #3D52A0;
}
#dropdown_1:focus ,#dropdown_2:focus {
    background-color: #EDE8F5;
    color : #3D52A0;
}
#dropdown_a_1, #dropdown_a_2, #dropdown_a_3, #dropdown_a_4 {
    background-color: white;
    color: #3D52A0;
}

#dropdown_a_1:hover, #dropdown_a_2:hover, #dropdown_a_3:hover, #dropdown_a_4:hover{
    background-color : #3D52A0;
    color: #EDE8F5;
}
#logo {
    color: #EDE8F5;
    font-weight: 900;
}
div.side_bar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #EDE8F5;
    transition: width 0.5s;
    overflow: hidden;
    width: 45px;
    z-index: 1;
}
div.link_acc {
    margin-left: 10px;
    width : 250px;
    margin-top : 100px;
}
div.link_acc a, div.link_meal a{
    text-decoration-line : none;
    color : #3D52A0;
    font-size: 16px;
    display : block;
    margin-top : 8px;
    font-weight : 600;
}
div.link_acc a i , div.link_meal a i {
    font-size: 25px;
}
div.side_bar:hover {
    width : 200px;
}
div.link_meal {
    margin-left: 10px;
    width : 250px;
    overflow : hidden;
    margin-top : 30px;
}
div.link_acc a:hover , div.link_meal a:hover {
    color: red;
}
#footer_copyright {
    color: #EDE8F5;
}
div.logo {
    position: absolute;
    top: 40px;
    left: 20px;
    display : none;
}
div.logo h5 {
    color: #3D52A0;
    font-weight : 800;
    font-size : 20px;
}
div.side_bar:hover div.logo {
    display : block;
}
div.search_bar input {
    border-radius: 10px;
    border: 2px solid #EDE8F5;
    margin-left: 5px;
    color: #3D52A0;
    height: 35px;
    width: 250px;
}
div.search_bar input:focus {
    outline : none;
    border-color : red;
}
div.search_bar button {
    margin-left: 5px;
    border: 2px solid #EDE8F5;
    background-color: #3D52A0;
    border-radius: 10px;
    color: #EDE8F5;
    padding : 5px;
    transition : background-color 0.2s;
}
div.search_bar button:hover {
    background-color : red;
    color : #EDE8F5;
    border-color : red;
}