@using Microsoft.AspNetCore.Identity
@using WebAppProject.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>@ViewData["Title"] Cơm Văn Phòng</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm box-shadow mb-3">
            <div class="container-fluid">
                <a id="logo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COMVANPHONG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown_1">
                            <i class="fas fa-address-card"></i>&nbsp;Tài Khoản
                        </button>
                        <ul class="dropdown-menu" id="ul_1">
                            <li><a class="dropdown-item" id="dropdown_a_1" asp-controller="Home" asp-action="Index">Thông tin</a></li>
                            <li><a class="dropdown-item" id="dropdown_a_2" asp-controller="Home" asp-action="Edit">Sửa thông tin</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown_2">
                            <i class="fas fa-pizza-slice"></i>&nbsp;Thực đơn
                        </button>
                        <ul class="dropdown-menu" id="ul_2">
                            <li><a class="dropdown-item" id="dropdown_a_3" asp-controller="MealMenu" asp-action="Index">Xem thực đơn tuần</a></li>
                            <li><a class="dropdown-item" id="dropdown_a_4" asp-controller="MealMenu" asp-action="EditMeal">Sửa thực đơn</a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="nav_bar">
                        <ul class="navbar-nav flex-grow-1" id="ul_nav_bar">

                        </ul>
                    </div>
                    <div class="side_bar">
                        <div class="link_acc">
                            <a asp-controller="Home" asp-action="Index"><i class="far fa-address-card"></i>&nbsp; Tài khoản</a>
                            <a asp-controller="Home" asp-action="Edit"><i class="far fa-edit"></i>&nbsp; Sửa thông tin</a>
                        </div>
                        <div class="link_meal">
                            <a asp-controller="MealMenu" asp-action="Index"><i class="fas fa-file"></i>&nbsp;&nbsp;&nbsp; Thực đơn</a>
                            <a asp-controller="MealMenu" asp-action="EditMeal"><i class="fas fa-pen-fancy"></i>&nbsp;&nbsp; Sửa thực đơn</a>
                            <a asp-controller="MealMenu" asp-action="CreateBasicMeal"><i class="fas fa-bacon"></i>&nbsp; Thêm món cơ bản</a>
                            <a asp-controller="MealMenu" asp-action="CreateSideMeal"><i class="fas fa-egg"></i>&nbsp;&nbsp;&nbsp; Thêm món phụ</a>
                            <a asp-controller="MealMenu" asp-action="CreateMainMeal"><i class="	fas fa-pizza-slice"></i>&nbsp;&nbsp; Thêm món chính</a>
                        </div>
                    </div>
                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 VietLinh Copyright
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        
    </script>
</body>
</html>
