@model WebAppProject.ViewModels.CreateMealVM

<link rel="stylesheet" href="~/css/CreateMeal.css" asp-append-version="true" />

<div class="create_form">
    @{
        DateTime today = DateTime.Now.Date;
        var get_day = ((int)today.DayOfWeek - (int)DayOfWeek.Monday + 7) % 7;
        DateTime monday_this_week = today.AddDays(-get_day);
        var sunday_this_week = monday_this_week.AddDays(6);
        var monday_next_week = monday_this_week.AddDays(7);
        var sunday_next_week = monday_next_week.AddDays(6);
    }
    <form asp-controller="MealMenu" asp-action="CreateMeal" method="post">
        <div class="form-floating">
            <select asp-for="Day" class="form-select" id="select">
                <option value="Thứ 2">Thứ 2</option>
                <option value="Thứ 3">Thứ 3</option>
                <option value="Thứ 4">Thứ 4</option>
                <option value="Thứ 5">Thứ 5</option>
                <option value="Thứ 6">Thứ 6</option>
                <option value="Thứ 7">Thứ 7</option>
            </select>
            <label>Chọn ngày</label>
        </div>
        <div class="form-floating">
            <select asp-for="Week" class="form-select">
                <option value="@monday_this_week.ToString("dd/MM/yyyy")-@sunday_this_week.ToString("dd/MM/yyyy")">@monday_this_week.ToString("dd/MM/yyyy")-@sunday_this_week.ToString("dd/MM/yyyy")</option>
                <option value="@monday_next_week.ToString("dd/MM/yyyy")-@sunday_next_week.ToString("dd/MM/yyyy")">@monday_next_week.ToString("dd/MM/yyyy")-@sunday_next_week.ToString("dd/MM/yyyy")</option>
            </select>
            <label>Chọn tuần</label>
        </div>
        <div class="form-floating">
            <input asp-for="MainMealName1" class="form-control" name="MainMealName1" id="MainMealName" />
            <label for="MainMealName1">Tên món chính</label>
            <span asp-validation-for="MainMealName1" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="MainMealName2" class="form-control" name="MainMealName2" id="MainMealName" />
            <label for="MainMealName2">Tên món chính</label>
            <span asp-validation-for="MainMealName2" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="MainMealName3" class="form-control" name="MainMealName3" id="MainMealName" />
            <label for="MainMealName3">Tên món chính</label>
            <span asp-validation-for="MainMealName3" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="SideMealName1" class="form-control" name="SideMealName1" id="SideMealName" />
            <label for="SideMealName1">Tên món phụ</label>
            <span asp-validation-for="SideMealName1" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="SideMealName2" class="form-control" name="SideMealName2" id="SideMealName" />
            <label for="SideMealName2">Tên món phụ</label>
            <span asp-validation-for="SideMealName2" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="SideMealName3" class="form-control" name="SideMealName3" id="SideMealName" />
            <label for="SideMealName3">Tên món phụ</label>
            <span asp-validation-for="SideMealName3" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="BasicMealName1" class="form-control" name="BasicMealName1" id="BasicMealName" />
            <label for="BasicMealName1">Tên món cơ bản</label>
            <span asp-validation-for="BasicMealName1" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="BasicMealName2" class="form-control" name="BasicMealName2" id="BasicMealName" />
            <label for="BasicMealName2">Tên món cơ bản</label>
            <span asp-validation-for="BasicMealName2" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="BasicMealName3" class="form-control" name="BasicMealName3" id="BasicMealName" />
            <label for="BasicMealName3">Tên món cơ bản</label>
            <span asp-validation-for="BasicMealName3" class="text-danger"></span>
        </div>
        <div class="button_submit">
            <input type="submit" value="Tạo" class="btn btn-primary" />
        </div>
    </form>
</div>
