@model WebAppProject.Models.BasicMeal

<div class="create_form">
    <form asp-action="CreateBasicMeal" method="post">
        <h5>Thêm món cơ bản</h5>
        <div class="form-floating">
            <select asp-for="Day" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option value="Thứ 2">Thứ 2</option>
                <option value="Thứ 3">Thứ 3</option>
                <option value="Thứ 4">Thứ 4</option>
                <option value="Thứ 5">Thứ 5</option>
                <option value="Thứ 6">Thứ 6</option>
                <option value="Thứ 7">Thứ 7</option>
            </select>
            <label for="floatingSelect">Chọn ngày</label>
        </div>
        <br />
        <div class="form-floating">
            <input asp-for="Name" class="form-control" name="Name" id="Name" />
            <label for="Name">Tên món</label>
        </div>
        <br />
        <div class="button_submit">
            <input type="submit" value="Tạo" class="btn btn-primary" />
        </div>
    </form>
</div>