@model WebAppProject.Areas.Identity.Data.AppUser
@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/HomeEdit.css" asp-append-version="true" />
<div class="info_table">
    <form asp-action="Edit" method="post">
    <div class="side_1">
        <div class="fullname form-floating">
            <input asp-for="FullName" class="form-control" name="FullName" id="FullName"/>
            <label for="FullName">Họ và tên</label>
        </div>
        <br />
        <div class="phone form-floating">
            <input asp-for="Phone" class="form-control" name="Phone" id="Phone"/>
            <label for="Phone">Số điện thoại</label>
        </div>
        <br />
        <div class="address form-floating">
            <input asp-for="Address" class="form-control" name="Address" id="Address"/>
            <label for="Address">Địa chỉ</label>
        </div>
        <br />
    </div>
    <div class="side_2">
        <div class="city form-floating">
            <input asp-for="City"class="form-control" name="City" id="City"/>
            <label for="City">Thành phố</label>
        </div>
        <br />
        <div class="country form-floating">
            <input asp-for="Country"class="form-control" name="Country" id="Country" />
            <label for="Country">Quốc gia</label>
        </div>
        <br />
        <div class="birthdate form-floating">
            <input asp-for="DateBirth" type="date" class="form-control" name="DateBirth" id="DateBirth"/>
            <label for="DateBirth">Ngày tháng năm sinh</label>
        </div>
        <br />
    </div>
    <div class="button_submit">
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>
    </form>
</div>

